h1
  | Listing Blogs
= link_to 'New Blog', new_blog_path, {:class => "btn btn-primary", :role => "button"}
table.table
  tr
    th
      | Title
  - @blogs.each do |blog|
    tr
      td
        = blog.name
      td
        = link_to 'Show', blog_articles_path(blog)
      td
        = link_to 'Edit', edit_blog_path(blog)
      td
        = link_to 'Destroy', blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' }
