p
  strong
    | Commenter:
  = comment.commenter
p
  strong
    | Comment:
  = comment.body
= link_to 'Destroy Comment', [@blog, @article, comment], method: :delete, data: { confirm: 'Are you sure?' }
