/ without explicitly declared error messages no error messages raised - probably because of simple_form
= simple_form_for ([@blog, @blog.articles.build]) do |f|
  - if @article.errors.any?
    #error_explanation
      h2
        = pluralize(@article.errors.count, "error")
        |  prohibited this article from being saved: 
      ul
        - @article.errors.full_messages.each do |msg|
          li
            = msg
  = f.input :title
  = f.input :text
  p
  = f.button :submit
end
