h1
  | Editing article
= simple_form_for :article, url: blog_article_path(@blog), method: :patch do |f|
  - if @article.errors.any?
    #error_explanation
      h2
        = pluralize(@article.errors.count, "error")
        |  prohibited this article from being saved: 
      ul
        - @article.errors.full_messages.each do |msg|
          li
            = msg
  = f.input :title
  = f.input :text, :as => :text
  p
  = f.button :submit
= link_to 'Back', blog_articles_path(@blog)
