h1
  | Listing Articles
= link_to 'Create new Article', new_blog_article_path(@blog)
table.table
  tr
    th
      | Title
    th
      | Text
    th[colspan="3"]
  - @articles.each do |article|
    tr
      td
        = article.title
      td
        = article.text
      td
        = link_to 'Show', blog_article_path(@blog, article)
      td
        = link_to 'Edit', edit_blog_article_path(@blog, article)
      td
        = link_to 'Destroy', blog_article_path(@blog, article), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Back',blogs_path
