h1
  | Article:
p
  strong
    | Title:
  = @article.title
p
  strong
    | Text:
  = @article.text
h2
  | Comments
= render @article.comments
h2
  | Add a comment:
= simple_form_for([@blog, @article, @article.comments.build]) do |f|
  = f.input :commenter
  = f.input :body
  = f.button :submit
= link_to 'Edit', edit_blog_article_path(@blog, @article)
|  | 
= link_to 'Back', blog_articles_path(@blog)
