doctype html
html
  head
    title
      | Blog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container
      p.notice
        = notice
      p.alert
        = alert
    .container
      ul.nav
        li.nav-item
          = link_to 'Root', root_path, { :class=>"nav-link" }
        li.nav-item
          = link_to 'Profile', edit_user_registration_path, { :class=>"nav-link" }
        li.nav-item
          = link_to 'Logout', destroy_user_session_path, {:name => "delB", :class=>"nav-link", :method => :delete,data: { confirm: 'Are you sure?' } }
      = yield
